Copyright 2020 Andrew M. Olney, Dale Bowman and made available under [CC BY-SA](https://creativecommons.org/licenses/by-sa/4.0) for text and [Apache-2.0](http://www.apache.org/licenses/LICENSE-2.0) for code.

# Descriptive statistics: Problem solving

Let's practice some of the skills we learned in the last session on descriptive statistics.

## Import libraries

We can calculate measures of central tendency and spread using `pandas dataframes`.

First thing you need to do is import `pandas` below.
[Use the Reference if you've forgotten any of these steps](Reference.html).

In [3]:
import pandas as pd

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="zq]t,,UR`GWj6?Hub9%a">pd</variable></variables><block type="importAs" id="o[3wY[w:R*b$p^Ow/ZZw" x="125" y="352"><field name="libraryName">pandas</field><field name="VAR" id="zq]t,,UR`GWj6?Hub9%a">pd</field></block></xml>

## Load data

We're going to work with data from before, on flowers.

Load the CSV file `"datasets/flower-data-2020.csv"` into a dataframe.

In [6]:
dataframe = pd.read_csv('datasets/flower-data-2020.csv')

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="[V~uW+0L/4GW;45ulv+l">dataframe</variable><variable id="zq]t,,UR`GWj6?Hub9%a">pd</variable></variables><block type="variables_set" id="pspF!@hdz,LBbxbCt.T," x="97" y="189"><field name="VAR" id="[V~uW+0L/4GW;45ulv+l">dataframe</field><value name="VALUE"><block type="varDoMethod" id="euk#bP:=-t?/^HkbQeAp"><mutation items="1"></mutation><field name="VAR" id="zq]t,,UR`GWj6?Hub9%a">pd</field><field name="MEMBER">read_csv</field><data>pd:read_csv</data><value name="ADD0"><block type="text" id="uXF*vA1y:R}D1bf_0r{N"><field name="TEXT">datasets/flower-data-2020.csv</field></block></value></block></value></block></xml>

## Flower mean/median/mode

In the next three cells, use the dataframe to calculate the mean, median, and mode.

In [11]:
dataframe.mean(numeric_only=True)

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="[V~uW+0L/4GW;45ulv+l">dataframe</variable></variables><block type="varDoMethod" id="]I:]}wMu=(Gnu*RD$$~9" x="8" y="188"><mutation items="1"></mutation><field name="VAR" id="[V~uW+0L/4GW;45ulv+l">dataframe</field><field name="MEMBER">mean</field><data>dataframe:mean</data><value name="ADD0"><block type="dummyOutputCodeBlock" id="DXOrAJsZah/nG}oh19;|"><field name="CODE">numeric_only=True</field></block></value></block></xml>

Size    2.109524
dtype: float64

In [16]:
dataframe.median(numeric_only=True)

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="[V~uW+0L/4GW;45ulv+l">dataframe</variable></variables><block type="varDoMethod" id="]I:]}wMu=(Gnu*RD$$~9" x="8" y="188"><mutation items="1"></mutation><field name="VAR" id="[V~uW+0L/4GW;45ulv+l">dataframe</field><field name="MEMBER">median</field><data>dataframe:median</data><value name="ADD0"><block type="dummyOutputCodeBlock" id="3iS3@2K/sgw2ohxknt4F"><field name="CODE">numeric_only=True</field></block></value></block></xml>

Size    2.0
dtype: float64

In [18]:
dataframe.mode()

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="[V~uW+0L/4GW;45ulv+l">dataframe</variable></variables><block type="varDoMethod" id="]I:]}wMu=(Gnu*RD$$~9" x="8" y="188"><mutation items="1"></mutation><field name="VAR" id="[V~uW+0L/4GW;45ulv+l">dataframe</field><field name="MEMBER">mode</field><data>dataframe:mode</data></block></xml>

  PetalColor PetalShape  Size
0   unicolor  unrounded     2

**QUESTION:**

How are the mean, median, and mode different here?
Write your answer in the cell below.

**ANSWER: (click here to edit)**


<hr>

**QUESTION:**

Why do the mean and the median have values for `Size`, but the mode has values for `PetalColor`, `PetalShape`, and `Size`?
Write your answer in the cell below.

**ANSWER: (click here to edit)**


<hr>

## Outlier effects

Let's look at some different data: a students quiz grades across a course.

Suppose a student received the following grades:

- 0
- 85
- 82
- 91
- 82

In the next cell, make a new dataframe (with a new variable) using this list of numbers (in a double list).

In [20]:
grades = pd.DataFrame([0, 85, 82, 91, 82])

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="0Z~AP{;(K9p1).M_No)5">grades</variable><variable id="zq]t,,UR`GWj6?Hub9%a">pd</variable></variables><block type="variables_set" id="^,Y2E?u8,{P0eK?4*v(^" x="31" y="194"><field name="VAR" id="0Z~AP{;(K9p1).M_No)5">grades</field><value name="VALUE"><block type="varCreateObject" id=".`?GJi9%01TcebUauJK?"><mutation items="1"></mutation><field name="VAR" id="zq]t,,UR`GWj6?Hub9%a">pd</field><field name="MEMBER">DataFrame</field><data>pd:DataFrame</data><value name="ADD0"><block type="lists_create_with" id="Ec(e*=i[/o*JY1wPJ3b)"><mutation items="5"></mutation><value name="ADD0"><block type="math_number" id="rcV5tFvv,4uV3n%R]~7%"><field name="NUM">0</field></block></value><value name="ADD1"><block type="math_number" id="sb#uTkds?[6oppKnWe6a"><field name="NUM">85</field></block></value><value name="ADD2"><block type="math_number" id="]5VLtY%^_Vy#5w;#T_V0"><field name="NUM">82</field></block></value><value name="ADD3"><block type="math_number" id="wPfzb`0n;_XZ~_;v|w{H"><field name="NUM">91</field></block></value><value name="ADD4"><block type="math_number" id="WvJsD9l8`Y]rNR~fMT/N"><field name="NUM">82</field></block></value></block></value></block></value></block></xml>

Now `print` the mean, median, and mode of this grades dataframe in the next cell.

In [22]:
print(grades.median())
print(grades.mean())
print(grades.mode())

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="0Z~AP{;(K9p1).M_No)5">grades</variable></variables><block type="text_print" id="`jn6J~kaejV!Cx!s{zP-" x="111" y="117"><value name="TEXT"><shadow type="text" id="X+4}*qR3]Q;+8cTr}T0?"><field name="TEXT">abc</field></shadow><block type="varDoMethod" id="Pl:^oR,*DCGup|yt@jhP"><mutation items="1"></mutation><field name="VAR" id="0Z~AP{;(K9p1).M_No)5">grades</field><field name="MEMBER">median</field><data>grades:median</data></block></value><next><block type="text_print" id=",V)HMF*rq4(p2J4=%*g^"><value name="TEXT"><shadow type="text" id="33aw4P1;U^sw(DLSTt(H"><field name="TEXT">abc</field></shadow><block type="varDoMethod" id="{^HKlDM0I%-#.W.[A$z."><mutation items="1"></mutation><field name="VAR" id="0Z~AP{;(K9p1).M_No)5">grades</field><field name="MEMBER">mean</field><data>grades:mean</data></block></value><next><block type="text_print" id="{OV%_W4ZT16c$9VH1k+Q"><value name="TEXT"><shadow type="text" id="qu2b4balDznaLq/kb~xr"><field name="TEXT">abc</field></shadow><block type="varDoMethod" id="(ObS8~x]Bf^k/pph|KA2"><mutation items="1"></mutation><field name="VAR" id="0Z~AP{;(K9p1).M_No)5">grades</field><field name="MEMBER">mode</field><data>grades:mode</data></block></value></block></next></block></next></block></xml>

0    82.0
dtype: float64
0    68.0
dtype: float64
    0
0  82

In the cell below, copy the blocks where you created the grades dataframe but remove the `0` from the list.

In [24]:
grades = pd.DataFrame([85, 82, 82, 91])

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="0Z~AP{;(K9p1).M_No)5">grades</variable><variable id="zq]t,,UR`GWj6?Hub9%a">pd</variable></variables><block type="variables_set" id="^,Y2E?u8,{P0eK?4*v(^" x="31" y="194"><field name="VAR" id="0Z~AP{;(K9p1).M_No)5">grades</field><value name="VALUE"><block type="varCreateObject" id=".`?GJi9%01TcebUauJK?"><mutation items="1"></mutation><field name="VAR" id="zq]t,,UR`GWj6?Hub9%a">pd</field><field name="MEMBER">DataFrame</field><data>pd:DataFrame</data><value name="ADD0"><block type="lists_create_with" id="Ec(e*=i[/o*JY1wPJ3b)"><mutation items="4"></mutation><value name="ADD0"><block type="math_number" id="sb#uTkds?[6oppKnWe6a"><field name="NUM">85</field></block></value><value name="ADD1"><block type="math_number" id="WvJsD9l8`Y]rNR~fMT/N"><field name="NUM">82</field></block></value><value name="ADD2"><block type="math_number" id="]5VLtY%^_Vy#5w;#T_V0"><field name="NUM">82</field></block></value><value name="ADD3"><block type="math_number" id="wPfzb`0n;_XZ~_;v|w{H"><field name="NUM">91</field></block></value></block></value></block></value></block></xml>

Now `print` the mean, median, and mode of this grades dataframe (without `0`) in the next cell.

In [26]:
print(grades.median())
print(grades.mean())
print(grades.mode())

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="0Z~AP{;(K9p1).M_No)5">grades</variable></variables><block type="text_print" id="`jn6J~kaejV!Cx!s{zP-" x="111" y="117"><value name="TEXT"><shadow type="text" id="X+4}*qR3]Q;+8cTr}T0?"><field name="TEXT">abc</field></shadow><block type="varDoMethod" id="Pl:^oR,*DCGup|yt@jhP"><mutation items="1"></mutation><field name="VAR" id="0Z~AP{;(K9p1).M_No)5">grades</field><field name="MEMBER">median</field><data>grades:median</data></block></value><next><block type="text_print" id=",V)HMF*rq4(p2J4=%*g^"><value name="TEXT"><shadow type="text" id="2PyV,}GZDXAkZ8~UEkUn"><field name="TEXT">abc</field></shadow><block type="varDoMethod" id="{^HKlDM0I%-#.W.[A$z."><mutation items="1"></mutation><field name="VAR" id="0Z~AP{;(K9p1).M_No)5">grades</field><field name="MEMBER">mean</field><data>grades:mean</data></block></value><next><block type="text_print" id="{OV%_W4ZT16c$9VH1k+Q"><value name="TEXT"><shadow type="text" id="Xh`FrTK61O_$j@Xp(3yN"><field name="TEXT">abc</field></shadow><block type="varDoMethod" id="(ObS8~x]Bf^k/pph|KA2"><mutation items="1"></mutation><field name="VAR" id="0Z~AP{;(K9p1).M_No)5">grades</field><field name="MEMBER">mode</field><data>grades:mode</data></block></value></block></next></block></next></block></xml>

0    83.5
dtype: float64
0    85.0
dtype: float64
    0
0  82

**QUESTION:**

- How did the mean, median, and mode change after you dropped the zero?
- What does dropping the zero mean to the student who took this class?
- Which measures are most affected/least affected by outliers?

Write your answer in the cell below.

**ANSWER: (click here to edit)**

*Median changed very slightly and mode did not change at all.
Mean changed dramatically from 68 to 85.
This means the student would go from a D to a B in the class.
This is an example of how an outlier can have a strong effect on the mean, and how the other measures of central tendency are resistant to outliers.*

<hr>

## Dataframe sampling

Let's switch back to the flower dataframe.

In the cell below, get the five number summary of the dataframe (i.e. `describe`).

In [28]:
dataframe.describe()

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="[V~uW+0L/4GW;45ulv+l">dataframe</variable></variables><block type="varDoMethod" id="O3QcP4Y+iT~?:8x5/Mld" x="8" y="188"><mutation items="1"></mutation><field name="VAR" id="[V~uW+0L/4GW;45ulv+l">dataframe</field><field name="MEMBER">describe</field><data>dataframe:describe</data></block></xml>

             Size
count  210.000000
mean     2.109524
std      0.740105
min      1.000000
25%      2.000000
50%      2.000000
75%      3.000000
max      3.000000

## Sampling

Now let's take samples from the flower dataframe, get their five number summaries, and compare those to each other and the entire dataframe.

In the cell below, take a sample of `10` from the flowers dataframe, store it in a variable, and display the sample.

In [31]:
sample = dataframe.sample(10)

sample

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="X~V70-15t9L^b}[IjBoW">sample</variable><variable id="[V~uW+0L/4GW;45ulv+l">dataframe</variable></variables><block type="variables_set" id="X2Q0lhlIuB;M-}%}kt0@" x="137" y="151"><field name="VAR" id="X~V70-15t9L^b}[IjBoW">sample</field><value name="VALUE"><block type="varDoMethod" id="}THa7gMDOBGv~{O0J-}v"><mutation items="1"></mutation><field name="VAR" id="[V~uW+0L/4GW;45ulv+l">dataframe</field><field name="MEMBER">sample</field><data>dataframe:sample</data><value name="ADD0"><block type="math_number" id="x6aHWTYmPfX=;4W1C.io"><field name="NUM">10</field></block></value></block></value></block><block type="variables_get" id=".%[gOquwCx4nt[!vFu@%" x="139" y="250"><field name="VAR" id="X~V70-15t9L^b}[IjBoW">sample</field></block></xml>

     PetalColor PetalShape  Size
0    multicolor    rounded     2
38     unicolor    rounded     3
34     unicolor  unrounded     1
156    unicolor    rounded     3
60     unicolor  unrounded     3
29     unicolor    rounded     2
100  multicolor  unrounded     2
147    unicolor    rounded     2
178    unicolor  unrounded     3
90     unicolor    rounded     1

In the cell below, repeat what you did above (take a sample of `10` and store it in a variable) but add below that a block doing a five number summary of the sample.

In [33]:
sample = dataframe.sample(10)

sample.describe()

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="X~V70-15t9L^b}[IjBoW">sample</variable><variable id="[V~uW+0L/4GW;45ulv+l">dataframe</variable></variables><block type="variables_set" id="X2Q0lhlIuB;M-}%}kt0@" x="174" y="209"><field name="VAR" id="X~V70-15t9L^b}[IjBoW">sample</field><value name="VALUE"><block type="varDoMethod" id="}THa7gMDOBGv~{O0J-}v"><mutation items="1"></mutation><field name="VAR" id="[V~uW+0L/4GW;45ulv+l">dataframe</field><field name="MEMBER">sample</field><data>dataframe:sample</data><value name="ADD0"><block type="math_number" id="x6aHWTYmPfX=;4W1C.io"><field name="NUM">10</field></block></value></block></value></block><block type="varDoMethod" id="iSdb|@rBMqS+La]jDS%." x="163" y="331"><mutation items="1"></mutation><field name="VAR" id="X~V70-15t9L^b}[IjBoW">sample</field><field name="MEMBER">describe</field><data>sample:describe</data></block></xml>

            Size
count  10.000000
mean    2.100000
std     0.875595
min     1.000000
25%     1.250000
50%     2.000000
75%     3.000000
max     3.000000

Run this code cell a couple of times (trick: do Ctrl + Enter) to answer the next question.

**QUESTION:**

- How do min/max change across samples?
- How does mean change across samples?
- Why do you think this is, and do you expect to see it with other data?

Write your answer in the cell below.

**ANSWER: (click here to edit)**

*Min/max seem to be the same across samples.
Mean changes a bit across samples like it did before.
In general, we wouldn't expect min/max to be stable across samples.
We often think of the min/max as being a unique value in the data, so the chance of getting either across multiple random samples is very low.
In this case it happened because `Size` is ordinal with 3 values, and the min and max values occur very often*

<hr>

<!--  -->